body {
            background-color: #67596b;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(0, 0, 0);
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #67596b;
            color: rgb(50, 4, 15);
            text-align: center;
            padding: 30px;
            font: size 1.5rem;
        }

        section {
            background-color: #D6B4BC;
            border-radius: 15px;
            width: 80%;
            margin: 40px auto;
            padding: 30px;
            box-shadow: 0 0 15px;
        }

        h2 {
            color: rgb(0, 0, 0);
            text-align: center;
            margin-bottom: 20px;
        }

        button {
            background-color: blueviolet;
            color: beige;
            border-radius: 8px;
            padding: auto;

        }

        button:hover {
            background-color: rgb(167, 121, 175);

        }

        header h1 {
            font-size: 2.5rem;
            margin-bottom: 30px;
            padding-top: 25px;
            margin-bottom: 5px;
            text-decoration: underline;
        }

        .topnav {
            background-color: rgb(164, 166, 203);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            overflow: visible;
            z-index: 1000;
        }

        .topnav a {
            float: left;
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 14px 16px;
            font-weight: bold;
            font-size: 13px;
            transition: 0.3s;
            margin-right: 20px;
        }

        .topnav a:hover {
            color: white;
            background-color: #67596b;
        }

        .topnav a.sp:hover {
            background-color: bisque;
            color: black;
        }

        p {
            text-align: center;
        }

        .left-text {
            text-align: left;
            margin-left: 215px;

        }

        ul {
            text-align: left;
            margin-left: 200px;
        }