.title,
.subtitle {
    font-size: 3em;
    color: #eee;
    position: relative;
    animation: moveUp 3s ease-out;
    margin: 100px;
}
@keyframes moveUp {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}
.hero {
    left: 0;
    top: 0;
    animation: moveleft 3s;
    position: relative;
    text-align: left;
    margin: 40px;
    padding: 20px;
    animation: moveUp 4s;
}
.tip p {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.plan h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.monday,.tuesday,.wednesday,.thursday,.friday,.sunday,.saturday {
    background-color: #ab9ab0;
    width: 600px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    display: grid;
}

.monday:hover ,.tuesday:hover,.wednesday:hover,.thursday:hover,.friday:hover,.sunday:hover,.saturday:hover{
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}
.monday li{
    text-align: left;
}