body {
    background-color: #67596b;
    display: block;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title,
.subtitle {
    font-size: 3em;
    color: #eee;
    position: relative;
    animation: moveUp 3s ease-out;
    margin: 60px;
}

.topnav {
    background-color: rgb(164, 166, 203);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: visible;
}

.topnav a {
    float: left;
    color: rgb(3, 3, 3);
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 13px;
    margin-right: 20px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
    background-color: #67596b;
}

.topnav a.ibs {
    background-color: #67596b;
}

@keyframes moveUp {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

.subtitle {
    font-size: 2rem;
    text-decoration: underline palevioletred;
}

.avoid {
    left: 0;
    top: 0;
    animation: moveleft 3s;
    position: relative;
    text-align: left;
    margin: 40px;
    padding: 20px;
}

@keyframes moveleft {
    from {
        top: 100px;
        left: 100px;
        opacity: 0;
    }

    to {
        top: 0;
        left: 0;
        opacity: 1;
    }
}

.friendly {
    position: relative;
    right: 0;
    top: 0;
    animation: moveright 3s;
    margin: 40px;
    padding: 20px;
    display: inline-block;
}

@keyframes moveright {
    from {
        top: 100px;
        right: 100px;
        opacity: 0;
    }

    to {
        top: 0px;
        right: 0px;
        opacity: 1;
    }
}

.container {
    display: flex;
}

.tip {
    position: relative;
    animation: moveUp 4s ease-out;
    margin: 60px;
    padding: 1px;
    display: inline-block;
    font-size: 1.5rem;
}

.plan {
    background-color: #ab9ab0;
    width: 200px;
    height: 150px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 1px;
    margin-bottom: 40px;
}

.plan:hover {
    width: 400px;
    height: 100px;
    background-color: #5d213c;
}

.monday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.monday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.tuesday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.tuesday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.wednesday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.wednesday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.thursday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.thursday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.friday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.friday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.saturday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.saturday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}

.sunday {
    background-color: #ab9ab0;
    width: 300px;
    height: 200px;
    transition: width 2s, height 4s, background-color 3s;
    margin: 0 auto;
    padding: 3%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.sunday:hover {
    width: 800px;
    height: 200px;
    background-color: #5d213c;
}